.SD_Store
xcuserdata
.DS_Store

### Xcode Patch ###
*.xcodeproj/*
*.xcodeproj/project.pbxproj
*.xcodeproj/xcshareddata/
*.xcworkspace/contents.xcworkspacedata
/*.gcno
**/xcshareddata/WorkspaceSettings.xcsettings